@import 'https://fonts.googleapis.com/css?family=Lato:300';
body {
    font-family: 'Lato', sans-serif;
}

.panel-heading form {
    margin-bottom: 0;
}

.form-group {
    margin-right: 1em;
}

#add-search-link {
    cursor: pointer;
}

.add-search {
    display: inline-block;
}

.search-info {
    margin-bottom: 1em;
}

.item-result h3 {
    margin-top: 0;
}

.item-result dl {
    clear: both;
}

.item-result .numbers dt {
    width: 20px;
    float: left;
}

.item-result .numbers dd {
    margin-left: 0;
    width: 3em;
    float: left;
}

.item-result .dates dt {
    margin-right: 1em;
    float: left;
}

.issue-labels {
    margin-top: 0.7em;
}

.issue-labels span {
    margin-right: 0.6em;
}

@media (min-width: 1010px) {
    .item-result dl {
        clear: none;
    }
    .item-result .numbers dt {
        width: 80px;
    }
    .item-result .numbers dd {
        margin-left: 90px;
        float: none;
    }
    .item-result .dates dt {
        margin-right: 0;
    }
}