<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Search</title>

    <link rel="stylesheet" href="lib/custombootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="lib/octicons/octicons/octicons.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="lib/site.css" media="screen" title="no title" charset="utf-8">
</head>

<body ng-controller="gitHubDataController">

    <div class="container">
        <h1 class="text-center">GitHub Search                </h1>


        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#repositories">Repositories</a></li>
            <li><a href="#issues">Issues</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="repositories">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <span>
                            <h4><input type="text" ng-model="searchR" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Enter full movie name" autofocus />
                            <a ng-click="addSearch = !addSearch" id="addSearch">Additional parameters</a>
                            <span ng-show="addSearch">
                            <input type="text" ng-model="lang" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="lang"  />
                            <input type="text" ng-model="stars" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="stars"  />
                            </span>
                            </h4>
                            </span>
                        </form>
                    </div>
                    <div class="panel-body">
                        <pre>http response data: {{repositories}}</pre>
                        <div ng-if="!repositories && searchR">
                            Loading results...
                        </div>
                        <div ng-if="!searchR">
                            Enter search phrase...
                        </div>
                        <div ng-if="repositories.total_count==0">
                            No results
                        </div>
                        <ul ng-if="repositories.total_count>0">
                            <li ng-repeat="repo in repositories.items">
                                Repo name: {{repo.name}}. Description: {{repo.description}}
                                <br> the owner {{repo.owner.login}} <img height=40 width=40 ng-src="{{repo.owner.avatar_url}}" alt="">
                                <br> the creation date {{repo.created_at}}
                                <br> the (primary) language {{repo.language}}
                                <br> the number of stars and watchers {{repo.stargazers_count}} - {{repo.watchers_count}}
                                <br> the number of open issues {{repo.open_issues}}
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="issues">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <span>
                            <h4><input type="text" ng-model="searchI" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Enter full movie name" autofocus />
                            </h4>
                            </span>
                        </form>
                    </div>
                    <div class="panel-body">
                        <pre>http response data: {{issues}}</pre>
                        <div ng-if="!issues && searchI">
                            Loading results...
                        </div>
                        <div ng-if="!searchI">
                            Enter search phrase...
                        </div>
                        <div ng-if="issues.total_count==0">
                            No results
                        </div>
                        <ul ng-if="issues.total_count>0">
                            <li ng-repeat="issue in issues.items">
                                Title: {{issue.title}}. Body: {{issue.body}}
                                <br> the owner {{issue.user.login}} <img height=40 width=40 ng-src="{{issue.user.avatar_url}}" alt="">
                                <br> the creation date {{issue.created_at}}
                                <br> the state {{issue.state}}
                                <br> the score {{issue.score}}
                                <ul ng-if="issue.labels">
                                    <li ng-repeat="label in issue.labels">{{label.name}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="app/app.js" charset="utf-8"></script>
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
</body>

</html>