<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline">
            <span>
                            <h4><input type="text" ng-model="url" aria-label="URL" />
                    <button id="submit" ng-click='fetch("issues")'>button</button>
                    </h4>
                    </span>
        </form>
    </div>
    <div class="panel-body">
        <pre>iii http response data: {{data}}</pre>
        <ul>
            <li ng-repeat="issue in data.items">
                Title: {{issue.title}}. Body: {{issue.body}}
            </li>
        </ul>
    </div>
</div>